<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MqttDeviceMapper">
    
    <resultMap type="MqttDevice" id="MqttDeviceResult">
        <result property="deviceId"       column="device_id"       />
        <result property="deviceName"     column="device_name"     />
        <result property="username"       column="username"        />
        <result property="deviceStatus"   column="device_status"   />
        <result property="scriptStatus"   column="script_status"   />
        <result property="level"          column="level"           />
        <result property="server"         column="server"          />
        <result property="diamonds"       column="diamonds"        />
        <result property="taskConfig"     column="task_config"     />
        <result property="lastOnline"     column="last_online"     />
        <result property="createBy"       column="create_by"       />
        <result property="createTime"     column="create_time"     />
        <result property="updateBy"       column="update_by"       />
        <result property="updateTime"     column="update_time"     />
        <result property="remark"         column="remark"          />
    </resultMap>

    <sql id="selectMqttDeviceVo">
        select device_id, device_name, username, device_status, script_status, level, server, diamonds, task_config, last_online, create_by, create_time, update_by, update_time, remark from mqtt_device
    </sql>

    <select id="selectMqttDeviceList" parameterType="MqttDevice" resultMap="MqttDeviceResult">
        <include refid="selectMqttDeviceVo"/>
        <where>  
            <if test="deviceName != null  and deviceName != ''"> and device_name like concat('%', #{deviceName}, '%')</if>
            <if test="username != null  and username != ''"> and username = #{username}</if>
            <if test="deviceStatus != null  and deviceStatus != ''"> and device_status = #{deviceStatus}</if>
            <if test="scriptStatus != null  and scriptStatus != ''"> and script_status = #{scriptStatus}</if>
            <if test="level != null  and level != ''"> and level = #{level}</if>
            <if test="server != null  and server != ''"> and server like concat('%', #{server}, '%')</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectMqttDeviceByDeviceId" parameterType="Long" resultMap="MqttDeviceResult">
        <include refid="selectMqttDeviceVo"/>
        where device_id = #{deviceId}
    </select>

    <select id="selectMqttDeviceByNameAndUsername" resultMap="MqttDeviceResult">
        <include refid="selectMqttDeviceVo"/>
        where device_name = #{deviceName} and username = #{username}
    </select>

    <select id="countOnlineDevices" parameterType="String" resultType="int">
        select count(*) from mqtt_device 
        <where>
            device_status = '在线'
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
        </where>
    </select>

    <select id="sumDiamonds" parameterType="String" resultType="Long">
        select COALESCE(sum(CAST(diamonds AS SIGNED)), 0) from mqtt_device 
        <where>
            diamonds REGEXP '^[0-9]+$'
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
        </where>
    </select>
        
    <insert id="insertMqttDevice" parameterType="MqttDevice" useGeneratedKeys="true" keyProperty="deviceId">
        insert into mqtt_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceName != null and deviceName != ''">device_name,</if>
            <if test="username != null and username != ''">username,</if>
            <if test="deviceStatus != null">device_status,</if>
            <if test="scriptStatus != null">script_status,</if>
            <if test="level != null">level,</if>
            <if test="server != null">server,</if>
            <if test="diamonds != null">diamonds,</if>
            <if test="taskConfig != null">task_config,</if>
            <if test="lastOnline != null">last_online,</if>
            <if test="createBy != null">create_by,</if>
            <if test="remark != null">remark,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceName != null and deviceName != ''">#{deviceName},</if>
            <if test="username != null and username != ''">#{username},</if>
            <if test="deviceStatus != null">#{deviceStatus},</if>
            <if test="scriptStatus != null">#{scriptStatus},</if>
            <if test="level != null">#{level},</if>
            <if test="server != null">#{server},</if>
            <if test="diamonds != null">#{diamonds},</if>
            <if test="taskConfig != null">#{taskConfig},</if>
            <if test="lastOnline != null">#{lastOnline},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="remark != null">#{remark},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateMqttDevice" parameterType="MqttDevice">
        update mqtt_device
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceName != null and deviceName != ''">device_name = #{deviceName},</if>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="deviceStatus != null">device_status = #{deviceStatus},</if>
            <if test="scriptStatus != null">script_status = #{scriptStatus},</if>
            <if test="level != null">level = #{level},</if>
            <if test="server != null">server = #{server},</if>
            <if test="diamonds != null">diamonds = #{diamonds},</if>
            <if test="taskConfig != null">task_config = #{taskConfig},</if>
            <if test="lastOnline != null">last_online = #{lastOnline},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where device_id = #{deviceId}
    </update>

    <delete id="deleteMqttDeviceByDeviceId" parameterType="Long">
        delete from mqtt_device where device_id = #{deviceId}
    </delete>

    <delete id="deleteMqttDeviceByDeviceIds" parameterType="String">
        delete from mqtt_device where device_id in 
        <foreach item="deviceId" collection="array" open="(" separator="," close=")">
            #{deviceId}
        </foreach>
    </delete>
</mapper>
